.ImageText {
  position: absolute;
  top: 3%;
  left: 20%;
  font-size: 50px;
  font-family: -moz-initial;
}

.discountBookBox {
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 5px;
  padding: 10px;
  width: 25%;
  /* border: 1px solid; */
}

.TopStack {
  display: flex;
  flex-direction: row;
  gap: 180px;
  align-items: center;
  margin-bottom: 20px;
}

.galleryImage {
  height: 260px;
  width: 400px;
  border-radius: 5px;
}
.galleryGrid {
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 5px;
}


.formbook {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
}

.formbook ::placeholder {
  color: black;
}
.b2h{
  cursor: pointer;
  font-size: 5vw;
  color: #0051ff;
  text-align: center;
  width: 15vw;
  height: 7vw;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 0.5vw;
  margin-left: 50%;
  margin-bottom: 1vw;
  margin-top: 0px;
}
