@media (min-width: 1540px) {

.BoxBox {
  margin: auto;
  width: 80vw;
}

.card {
  padding: 10px;
  border-radius: 8px;
  position: relative;
  width: 18vw;
  height: 14vw;
  margin-bottom: 1.5vw;
  margin-left: 1.6vw;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(20vw, 1fr));
  grid-column-gap: 1vw;
  grid-row-gap: 3.9vw;
  justify-content: center;
  margin: 0 1vw 1vw 5vw;
}

.card img {
  width: 100%;
  height: 72%;
  margin-bottom: 10px;
  border-radius: 8%;
}

.card-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card-content .location {
  font-weight: bold;
  font-size: 0.6vw;
}

.card-content .price {
  color: #0b0a0a;
  font-weight: bold;
  font-size: 0.6vw;
}

.card p {
  margin-bottom: 10px;
  font-size: 0.6vw;
  color: #6e6e6e;
  text-align: justify;
}

.card p button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  color:rgb(28,160,227);
  font-size: 0.6vw;
}

.card p button:focus {
  outline: none;
}

.pagination {
  display: flex;
  margin-top: 1.6vw;
  font-size: 0.8vw;
}

.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 5px;
  cursor: pointer;
  background-color: white;
  font-size: 0.8vw;
}

.page-number.active {
  background-color: rgb(28,160,227);
  color: #fff;
}

.round-button {
  border-radius: 50%;
  padding: 10px;
  margin-left: 10vw;
  cursor: pointer;
  font-size: 0.8vw;
}

.round-button.first-page {
  width: 6vw;
  height: 0.1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #6e6e6e;
  border-radius: 30px;
  padding: 1vw;
  margin-right: 19vw;
  margin-left: 5vw;
  margin-right: 24vw;
  font-size: 0.8vw;
}
.round-button.last-page {
  width: 6vw;
  height: 0.1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #6e6e6e;
  border-radius: 30px;
  padding: 1vw;
  align-self: flex-end;
  margin-left: 23.5vw;
  font-size: 0.8vw;
}

.headingA {
  text-align: center;
  font-size: 2vw;
  margin-bottom: 1.7vw;
  margin-top: 0.2vw;
}

.headingb {
  text-align: center;
  color: #6e6e6e;
  font-weight: light;
  font-size: 0.6vw;
  margin-bottom: 2vw;
}

.filter-buttons {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.filter-button {
  border-radius: 30px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #6e6e6e;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 10vw;
  font-size: 0.8vw;
}

.filter-buttonA {
  border-radius: 50%;
  padding: 1vw;
  margin-left: 5vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #6e6e6e;
  cursor: pointer;
  font-size: 0.8vw;
}

.filter-button.active {
  background-color:rgb(28,160,227);
  color: white;
}
.filter-buttonA.active {
  background-color: rgb(28,160,227);
  color: white;
}

.filter-button.active {
  background-color: rgb(28,160,227);
  color: white;
}

.filter-buttont.active {
  background-color: rgb(28,160,227);
  color: white;
}

.filter-buttond.active {
  background-color: rgb(28,160,227);
  color: white;
}

.line {
  border: 1px solid #ccc;
}
}

@media (min-width: 1280px) and (max-width: 1540px) {

  .BoxBox {
    margin: auto;
    width: 80vw;
  }
  
  .card {
    padding: 10px;
    border-radius: 8px;
    position: relative;
    width: 20vw;
    height: 16vw;
    margin-bottom: 1.5vw;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(20vw, 1fr));
    grid-column-gap: 1vw;
    grid-row-gap: 7vw;
    justify-content: center;
    margin: 0 1vw 1vw 5vw;
  }
  
  .card img {
    width: 100%;
    height: 72%;
    margin-bottom: 10px;
    border-radius: 8%;
  }
  
  .card-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .card-content .location {
    font-weight: bold;
    font-size: 0.8vw;
  }
  
  .card-content .price {
    color: #0b0a0a;
    font-weight: bold;
    font-size: 0.8vw;
  }
  
  .card p {
    margin-bottom: 10px;
    font-size: 0.6vw;
    color: #6e6e6e;
    text-align: justify;
  }
  
  .card p button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    color: rgb(28,160,227);
    font-size: 0.6vw;
  }
  
  .card p button:focus {
    outline: none;
  }
  
  .pagination {
    display: flex;
    margin-top: 6vw;
    font-size: 0.8vw;
  }
  
  .page-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 5px;
    cursor: pointer;
    background-color: white;
    font-size: 0.8vw;
  }
  
  .page-number.active {
    background-color: rgb(28,160,227);
    color: #fff;
  }
  
  .round-button {
    border-radius: 50%;
    padding: 10px;
    margin-left: 10vw;
    cursor: pointer;
    font-size: 0.8vw;
  }
  
  .round-button.first-page {
    width: 6vw;
    height: 0.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #6e6e6e;
    border-radius: 30px;
    padding: 1vw;
    margin-right: 19vw;
    margin-left: 5vw;
    font-size: 0.8vw;
  }
  .round-button.last-page {
    width: 6vw;
    height: 0.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #6e6e6e;
    border-radius: 30px;
    padding: 1vw;
    align-self: flex-end;
    margin-left: 19vw;
    font-size: 0.8vw;
  }
  
  .headingA {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 1.5vw;
    margin-top: 2vw;
  }
  
  .headingb {
    text-align: center;
    color: #6e6e6e;
    font-weight: light;
    font-size: 0.75vw;
    margin-bottom: 3vw;
  }
  
  .filter-buttons {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
  }
  
  .filter-button {
    border-radius: 30px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #6e6e6e;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 10vw;
    font-size: 0.8vw;
  }
  
  .filter-buttonA {
    border-radius: 50%;
    padding: 1vw;
    margin-left: 5vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #6e6e6e;
    cursor: pointer;
    font-size: 0.8vw;
  }
  
  .filter-button.active {
    background-color: rgb(28,160,227);
    color: white;
  }
  .filter-buttonA.active {
    background-color: rgb(28,160,227);
    color: white;
  }
  
  .filter-button.active {
    background-color: rgb(28,160,227);
    color: white;
  }
  
  .filter-buttont.active {
    background-color: rgb(28,160,227);
    color: white;
  }
  
  .filter-buttond.active {
    background-color: rgb(28,160,227);
    color: white;
  }
  
  .line {
    border: 1px solid #ccc;
  }
  }

  @media (min-width: 1075px) and (max-width: 1280px) {

    .BoxBox {
      margin: auto;
      width: 80vw;
    }
    
    .card {
      padding: 10px;
      border-radius: 8px;
      position: relative;
      width: 20vw;
      height: 16vw;
      margin-bottom: 1.5vw;
    }
    
    .card-grid {
      display: grid;
      grid-template-columns: repeat(3, minmax(20vw, 1fr));
      grid-column-gap: 1vw;
      grid-row-gap: 12vw;
      justify-content: center;
      margin: 0 1vw 1vw 5vw;
    }
    
    .card img {
      width: 100%;
      height: 72%;
      margin-bottom: 10px;
      border-radius: 8%;
    }
    
    .card-content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    
    .card-content .location {
      font-weight: bold;
      font-size: 0.8vw;
    }
    
    .card-content .price {
      color: #0b0a0a;
      font-weight: bold;
      font-size: 0.8vw;
    }
    
    .card p {
      margin-bottom: 10px;
      font-size: 0.6vw;
      color: #6e6e6e;
      text-align: justify;
    }
    
    .card p button {
      border: none;
      background-color: transparent;
      padding: 0;
      cursor: pointer;
      color: rgb(28,160,227);
      font-size: 0.6vw;
    }
    
    .card p button:focus {
      outline: none;
    }
    
    .pagination {
      display: flex;
      margin-top: 6vw;
      font-size: 0.8vw;
    }
    
    .page-number {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid #ccc;
      margin: 0 5px;
      cursor: pointer;
      background-color: white;
      font-size: 0.8vw;
    }
    
    .page-number.active {
      background-color: rgb(28,160,227);
      color: #fff;
    }
    
    .round-button {
      border-radius: 50%;
      padding: 10px;
      margin-left: 10vw;
      cursor: pointer;
      font-size: 0.8vw;
    }
    
    .round-button.first-page {
      width: 6vw;
      height: 0.1vw;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: start;
      background-color: #fff;
      border: 1px solid #ccc;
      color: #6e6e6e;
      border-radius: 30px;
      padding: 1vw;
      margin-right: 19vw;
      margin-left: 5vw;
      font-size: 0.8vw;
    }
    .round-button.last-page {
      width: 6vw;
      height: 0.1vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border: 1px solid #ccc;
      color: #6e6e6e;
      border-radius: 30px;
      padding: 1vw;
      align-self: flex-end;
      margin-left: 19vw;
      font-size: 0.8vw;
    }
    
    .headingA {
      text-align: center;
      font-size: 3vw;
      margin-bottom: 1.5vw;
      margin-top: 2vw;
    }
    
    .headingb {
      text-align: center;
      color: #6e6e6e;
      font-weight: light;
      font-size: 0.75vw;
      margin-bottom: 3vw;
      margin-top: 2vw;
    }
    
    .filter-buttons {
      display: flex;
      margin-bottom: 5vw;
      justify-content: center;
    }
    
    .filter-button {
      border-radius: 30px;
      padding: 8px 16px;
      cursor: pointer;
      background-color: #fff;
      border: 1px solid #ccc;
      color: #6e6e6e;
      margin-left: 2vw;
      margin-right: 2vw;
      width: 10vw;
      font-size: 0.8vw;
    }
    
    .filter-buttonA {
      border-radius: 50%;
      padding: 1vw;
      margin-left: 5vw;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      background-color: #fff;
      border: 1px solid #ccc;
      color: #6e6e6e;
      cursor: pointer;
      font-size: 0.8vw;
    }
    
    .filter-button.active {
      background-color: rgb(28,160,227);
      color: white;
    }
    .filter-buttonA.active {
      background-color: rgb(28,160,227);
      color: white;
    }
    
    .filter-button.active {
      background-color: rgb(28,160,227);
      color: white;
    }
    
    .filter-buttont.active {
      background-color: rgb(28,160,227);
      color: white;
    }
    
    .filter-buttond.active {
      background-color: rgb(28,160,227);
      color: white;
    }
    
    .line {
      border: 1px solid #ccc;
    }
    }
    @media (min-width: 920px) and (max-width: 1075px) {

      .BoxBox {
        margin: auto;
        width: 80vw;
      }
      
      .card {
        padding: 10px;
        border-radius: 8px;
        position: relative;
        width: 20vw;
        height: 16vw;
        margin-bottom: 1.5vw;
      }
      
      .card-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(20vw, 1fr));
        grid-column-gap: 1vw;
        grid-row-gap: 12vw;
        justify-content: center;
        margin: 0 1vw 1vw 5vw;
      }
      
      .card img {
        width: 100%;
        height: 72%;
        margin-bottom: 10px;
        border-radius: 8%;
      }
      
      .card-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      
      .card-content .location {
        font-weight: bold;
        font-size: 0.8vw;
      }
      
      .card-content .price {
        color: #0b0a0a;
        font-weight: bold;
        font-size: 0.8vw;
      }
      
      .card p {
        margin-bottom: 10px;
        font-size: 0.6vw;
        color: #6e6e6e;
        text-align: justify;
      }
      
      .card p button {
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        color: rgb(28,160,227);
        font-size: 0.6vw;
      }
      
      .card p button:focus {
        outline: none;
      }
      
      .pagination {
        display: flex;
        margin-top: 12vw;
        font-size: 0.8vw;
      }
      
      .page-number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #ccc;
        margin: 0 5px;
        cursor: pointer;
        background-color: white;
        font-size: 0.8vw;
      }
      
      .page-number.active {
        background-color: rgb(28,160,227);
        color: #fff;
      }
      
      .round-button {
        border-radius: 50%;
        padding: 10px;
        margin-left: 10vw;
        cursor: pointer;
        font-size: 0.8vw;
      }
      
      .round-button.first-page {
        width: 6vw;
        height: 0.1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: start;
        background-color: #fff;
        border: 1px solid #ccc;
        color: #6e6e6e;
        border-radius: 30px;
        padding: 1vw;
        margin-right: 19vw;
        margin-left: 5vw;
        font-size: 0.8vw;
      }
      .round-button.last-page {
        width: 6vw;
        height: 0.1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 1px solid #ccc;
        color: #6e6e6e;
        border-radius: 30px;
        padding: 1vw;
        align-self: flex-end;
        margin-left: 19vw;
        font-size: 0.8vw;
      }
      
      .headingA {
        text-align: center;
        font-size: 3vw;
        margin-bottom: 1.5vw;
        margin-top: 2vw;
      }
      
      .headingb {
        text-align: center;
        color: #6e6e6e;
        font-weight: light;
        font-size: 0.75vw;
        margin-bottom: 3vw;
        margin-top: 2vw;
      }
      
      .filter-buttons {
        display: flex;
        margin-bottom: 5vw;
        justify-content: center;
      }
      
      .filter-button {
        border-radius: 30px;
        padding: 8px 16px;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid #ccc;
        color: #6e6e6e;
        margin-left: 2vw;
        margin-right: 2vw;
        width: 10vw;
        font-size: 0.8vw;
      }
      
      .filter-buttonA {
        border-radius: 50%;
        padding: 1vw;
        margin-left: 5vw;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: #fff;
        border: 1px solid #ccc;
        color: #6e6e6e;
        cursor: pointer;
        font-size: 0.8vw;
      }
      
      .filter-button.active {
        background-color: rgb(28,160,227);
        color: white;
      }
      .filter-buttonA.active {
        background-color: rgb(28,160,227);
        color: white;
      }
      
      .filter-button.active {
        background-color: rgb(28,160,227);
        color: white;
      }
      
      .filter-buttont.active {
        background-color: rgb(28,160,227);
        color: white;
      }
      
      .filter-buttond.active {
        background-color: rgb(28,160,227);
        color: white;
      }
      
      .line {
        border: 1px solid #ccc;
      }
      }

      @media (min-width: 740px) and (max-width: 920px) {

        .BoxBox {
          margin: auto;
          width: 80vw;
        }
        
        .card {
          padding: 10px;
          border-radius: 8px;
          position: relative;
          width: 20vw;
          height: 16vw;
          margin-bottom: 1.5vw;
        }
        
        .card-grid {
          display: grid;
          grid-template-columns: repeat(2, minmax(20vw, 1fr));
          grid-column-gap: 1vw;
          grid-row-gap: 12vw;
          justify-content: center;
          margin: 0 1vw 1vw 5vw;
        }
        
        .card img {
          width: 100%;
          height: 72%;
          margin-bottom: 10px;
          border-radius: 8%;
        }
        
        .card-content {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
        }
        
        .card-content .location {
          font-weight: bold;
          font-size: 0.8vw;
        }
        
        .card-content .price {
          color: #0b0a0a;
          font-weight: bold;
          font-size: 0.8vw;
        }
        
        .card p {
          margin-bottom: 10px;
          font-size: 0.6vw;
          color: #6e6e6e;
          text-align: justify;
        }
        
        .card p button {
          border: none;
          background-color: transparent;
          padding: 0;
          cursor: pointer;
          color: rgb(28,160,227);
          font-size: 0.6vw;
        }
        
        .card p button:focus {
          outline: none;
        }
        
        .pagination {
          display: flex;
          margin-top: 9vw;
          font-size: 0.8vw;
        }
        
        .page-number {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid #ccc;
          margin: 0 5px;
          cursor: pointer;
          background-color: white;
          font-size: 0.8vw;
        }
        
        .page-number.active {
          background-color: rgb(28,160,227);
          color: #fff;
        }
        
        .round-button {
          border-radius: 50%;
          padding: 10px;
          margin-left: 10vw;
          cursor: pointer;
          font-size: 0.8vw;
        }
        
        .round-button.first-page {
          width: 6vw;
          height: 0.1vw;
          display: flex;
          justify-content: center;
          align-items: center;
          align-self: start;
          background-color: #fff;
          border: 1px solid #ccc;
          color: #6e6e6e;
          border-radius: 30px;
          padding: 1vw;
          margin-right: 19vw;
          margin-left: 5vw;
          font-size: 0.8vw;
        }
        .round-button.last-page {
          width: 6vw;
          height: 0.1vw;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          border: 1px solid #ccc;
          color: #6e6e6e;
          border-radius: 30px;
          padding: 1vw;
          align-self: flex-end;
          margin-left: 19vw;
          font-size: 0.8vw;
        }
        
        .headingA {
          text-align: center;
          font-size: 3vw;
          margin-bottom: 1.5vw;
          margin-top: 2vw;
        }
        
        .headingb {
          text-align: center;
          color: #6e6e6e;
          font-weight: light;
          font-size: 0.75vw;
          margin-bottom: 3vw;
          margin-top: 2vw;
        }
        
        .filter-buttons {
          display: flex;
          margin-bottom: 5vw;
          justify-content: center;
        }
        
        .filter-button {
          border-radius: 30px;
          padding: 8px 16px;
          cursor: pointer;
          background-color: #fff;
          border: 1px solid #ccc;
          color: #6e6e6e;
          margin-left: 2vw;
          margin-right: 2vw;
          width: 10vw;
          font-size: 0.8vw;
        }
        
        .filter-buttonA {
          border-radius: 50%;
          padding: 1vw;
          margin-left: 5vw;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          background-color: #fff;
          border: 1px solid #ccc;
          color: #6e6e6e;
          cursor: pointer;
          font-size: 0.8vw;
        }
        
        .filter-button.active {
          background-color: rgb(28,160,227);
          color: white;
        }
        .filter-buttonA.active {
          background-color: rgb(28,160,227);
          color: white;
        }
        
        .filter-button.active {
          background-color: rgb(28,160,227);
          color: white;
        }
        
        .filter-buttont.active {
          background-color: rgb(28,160,227);
          color: white;
        }
        
        .filter-buttond.active {
          background-color: rgb(28,160,227);
          color: white;
        }
        
        .line {
          border: 1px solid #ccc;
        }
        }

        @media (min-width: 600px) and (max-width: 740px) {

          .BoxBox {
            margin: auto;
            width: 80vw;
          }
          
          .card {
            padding: 10px;
            border-radius: 8px;
            position: relative;
            width: 20vw;
            height: 16vw;
            margin-bottom: 1.5vw;
          }
          
          .card-grid {
            display: grid;
            grid-template-columns: repeat(2, minmax(20vw, 1fr));
            grid-column-gap: 1vw;
            grid-row-gap: 12vw;
            justify-content: center;
            margin: 0 1vw 1vw 5vw;
          }
          filter-buttons
          .card img {
            width: 100%;
            height: 72%;
            margin-bottom: 10px;
            border-radius: 8%;
          }
          
          .card-content {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
          }
          
          .card-content .location {
            font-weight: bold;
            font-size: 0.8vw;
          }
          
          .card-content .price {
            color: #0b0a0a;
            font-weight: bold;
            font-size: 0.8vw;
          }
          
          .card p {
            margin-bottom: 10px;
            font-size: 0.6vw;
            color: #6e6e6e;
            text-align: justify;
          }
          
          .card p button {
            border: none;
            background-color: transparent;
            padding: 0;
            cursor: pointer;
            color: rgb(28,160,227);
            font-size: 0.6vw;
          }
          
          .card p button:focus {
            outline: none;
          }
          
          .pagination {
            display: flex;
            margin-top: 15vw;
            font-size: 0.8vw;
          }
          
          .page-number {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid #ccc;
            margin: 0 5px;
            cursor: pointer;
            background-color: white;
            font-size: 0.8vw;
          }
          
          .page-number.active {
            background-color: rgb(28,160,227);
            color: #fff;
          }
          
          .round-button {
            border-radius: 50%;
            padding: 10px;
            margin-left: 10vw;
            cursor: pointer;
            font-size: 0.8vw;
          }
          
          .round-button.first-page {
            width: 6vw;
            height: 0.1vw;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: start;
            background-color: #fff;
            border: 1px solid #ccc;
            color: #6e6e6e;
            border-radius: 30px;
            padding: 1vw;
            margin-right: 19vw;
            margin-left: 5vw;
            font-size: 0.8vw;
          }
          .round-button.last-page {
            width: 6vw;
            height: 0.1vw;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border: 1px solid #ccc;
            color: #6e6e6e;
            border-radius: 30px;
            padding: 1vw;
            align-self: flex-end;
            margin-left: 8vw;
            font-size: 0.8vw;
          }
          
          .headingA {
            text-align: center;
            font-size: 3vw;
            margin-bottom: 1.5vw;
            margin-top: 2vw;
          }
          
          .headingb {
            text-align: center;
            color: #6e6e6e;
            font-weight: light;
            font-size: 0.75vw;
            margin-bottom: 3vw;
            margin-top: 2vw;
          }
          
          .filter-buttons {
            display: flex;
            margin-bottom: 8vw;
            justify-content: center;
          }
          
          .filter-button {
            border-radius: 30px;
            padding: 8px 16px;
            cursor: pointer;
            background-color: #fff;
            border: 1px solid #ccc;
            color: #6e6e6e;
            margin-left: 2vw;
            margin-right: 2vw;
            width: 10vw;
            font-size: 0.8vw;
          }
          
          .filter-buttonA {
            border-radius: 50%;
            padding: 1vw;
            margin-left: 5vw;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            background-color: #fff;
            border: 1px solid #ccc;
            color: #6e6e6e;
            cursor: pointer;
            font-size: 0.8vw;
          }
          
          .filter-button.active {
            background-color: rgb(28,160,227);
            color: white;
          }
          .filter-buttonA.active {
            background-color: rgb(28,160,227);
            color: white;
          }
          
          .filter-button.active {
            background-color: rgb(28,160,227);
            color: white;
          }
          
          .filter-buttont.active {
            background-color: rgb(28,160,227);
            color: white;
          }
          
          .filter-buttond.active {
            background-color: rgb(28,160,227);
            color: white;
          }
          
          .line {
            border: 1px solid #ccc;
          }
          }

          @media (min-width: 500px) and (max-width: 640px) {

            .BoxBox {
              margin: auto;
              width: 80vw;
            }
            
            .card {
              padding: 10px;
              border-radius: 8px;
              position: relative;
              width: 20vw;
              height: 16vw;
              margin-bottom: 1.5vw;
            }
            
            .card-grid {
              display: grid;
              grid-template-columns: repeat(2, minmax(20vw, 1fr));
              grid-column-gap: 1vw;
              grid-row-gap: 12vw;
              justify-content: center;
              margin: 0 1vw 1vw 5vw;
            }
            
            .card img {
              width: 100%;
              height: 72%;
              margin-bottom: 10px;
              border-radius: 8%;
            }
            
            .card-content {
              display: flex;
              justify-content: space-between;
              margin-bottom: 10px;
            }
            
            .card-content .location {
              font-weight: bold;
              font-size: 0.8vw;
            }
            
            .card-content .price {
              color: #0b0a0a;
              font-weight: bold;
              font-size: 0.8vw;
            }
            
            .card p {
              margin-bottom: 10px;
              font-size: 0.6vw;
              color: #6e6e6e;
              text-align: justify;
            }
            
            .card p button {
              border: none;
              background-color: transparent;
              padding: 0;
              cursor: pointer;
              color: rgb(28,160,227);
              font-size: 0.6vw;
            }
            
            .card p button:focus {
              outline: none;
            }
            
            .pagination {
              display: flex;
              margin-top: 20vw;
              font-size: 0.8vw;
            }
            
            .page-number {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              border: 1px solid #ccc;
              margin: 0 5px;
              cursor: pointer;
              background-color: white;
              font-size: 0.8vw;
            }
            
            .page-number.active {
              background-color: rgb(28,160,227);
              color: #fff;
            }
            
            .round-button {
              border-radius: 50%;
              padding: 10px;
              margin-left: 10vw;
              cursor: pointer;
              font-size: 0.8vw;
            }
            
            .round-button.first-page {
              width: 6vw;
              height: 0.1vw;
              display: flex;
              justify-content: center;
              align-items: center;
              align-self: start;
              background-color: #fff;
              border: 1px solid #ccc;
              color: #6e6e6e;
              border-radius: 30px;
              padding: 1vw;
              margin-right: 19vw;
              margin-left: 5vw;
              font-size: 0.8vw;
            }
            .round-button.last-page {
              width: 6vw;
              height: 0.1vw;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #fff;
              border: 1px solid #ccc;
              color: #6e6e6e;
              border-radius: 30px;
              padding: 1vw;
              align-self: flex-end;
              margin-left: 8vw;
              font-size: 0.8vw;
            }
            
            .headingA {
              text-align: center;
              font-size: 3vw;
              margin-bottom: 1.5vw;
              margin-top: 2vw;
            }
            
            .headingb {
              text-align: center;
              color: #6e6e6e;
              font-weight: light;
              font-size: 0.75vw;
              margin-bottom: 3vw;
              margin-top: 2vw;
            }
            
            .filter-buttons {
              display: flex;
              margin-bottom: 15vw;
              justify-content: center;
            }
            
            .filter-button {
              border-radius: 30px;
              padding: 8px 16px;
              cursor: pointer;
              background-color: #fff;
              border: 1px solid #ccc;
              color: #6e6e6e;
              margin-left: 2vw;
              margin-right: 2vw;
              width: 10vw;
              font-size: 0.8vw;
            }
            
            .filter-buttonA {
              border-radius: 50%;
              padding: 1vw;
              margin-left: 5vw;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 30px;
              height: 30px;
              background-color: #fff;
              border: 1px solid #ccc;
              color: #6e6e6e;
              cursor: pointer;
              font-size: 0.8vw;
            }
            
            .filter-button.active {
              background-color: rgb(28,160,227);
              color: white;
            }
            .filter-buttonA.active {
              background-color: rgb(28,160,227);
              color: white;
            }
            
            .filter-button.active {
              background-color: rgb(28,160,227);
              color: white;
            }
            
            .filter-buttont.active {
              background-color: rgb(28,160,227);
              color: white;
            }
            
            .filter-buttond.active {
              background-color: rgb(28,160,227);
              color: white;
            }
            
            .line {
              border: 1px solid #ccc;
            }
            }